.biblioteca {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.biblioteca h1 {
  margin-bottom: 14px;
}

.biblioteca span {
  font-size: 18px;
}

.biblioteca ul {
  width: 720px;
}

.biblioteca ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.biblioteca div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.biblioteca div a {
  text-decoration: none;
  color: #116feb;
  margin-right: 14px;
}
